
.wbdv-profile-side-nav {
  min-width: 230px;
}

.wbdv-profile-img-card img {
  border-radius: 50%;
}

.wbdv-profile-img {
  max-width: 120px;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
}

.wbdv-profile-link {
  color: #da3458;
}

.wbdv-profile-detail-header {
  color: #da3458;
}

/*footer*/
#fixed-bottom-profile {
  position: fixed;
  width:90%;
  bottom:0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.form-select-sm {
  font-size: 12px;
  background-color: #f5f5f5;
  border-radius: 10%;
  border: none;
}



/*html, body {*/
/*  height: 100%;*/
/*}*/
/*body {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*.content {*/
/*  flex: 1 0 auto;*/
/*}*/
/*.footer {*/
/*  flex-shrink: 0;*/
/*}*/

