
.wbdv-profile-side-nav {
  min-width: 230px;
}

.wbdv-profile-img-card img {
  border-radius: 50%;
}

.wbdv-profile-img {
  max-width: 150px;
  max-height: 150px;
}

.wbdv-profile-link {
  color: #da3458;
}

.wbdv-profile-detail-header {
  color: #da3458;
}

/*footer*/
#fixed-bottom-profile {
  position: fixed;
  width:90%;
  bottom:0;
}


