
.wbdv-profile-side-nav {
  min-width: 230px;
}

.wbdv-profile-img-card img {
  border-radius: 50%;
}

.wbdv-profile-img {
  max-width: 150px;
  max-height: 150px;
}

.wbdv-profile-link {
  color: #da3458;
}

.wbdv-profile-detail-header {
  color: #da3458;
}

/*footer*/
#fixed-bottom-profile {
  position: fixed;
  width:90%;
  bottom:0;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*html, body {*/
/*  height: 100%;*/
/*}*/
/*body {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*.content {*/
/*  flex: 1 0 auto;*/
/*}*/
/*.footer {*/
/*  flex-shrink: 0;*/
/*}*/

