.wbdv-admin-login-wrapper {
    /*background-color: #efefef;*/
    /*height: 100vh;*/
    /*padding-top: 100px;*/
    /*margin-bottom: 100px;*/
}

/*Nav tabs*/
.nav-pills-admin .nav-link-admin.active {
    color: black;
    background-color: white;
    border-radius: 0;
    border-bottom: 2px solid #6c757d;
    padding: 5px 0 5px 0;
    /*padding-bottom: 5px;*/
}

.nav-pills-admin .nav-link-admin {

    padding: 5px 0 5px 0;
    /*padding-bottom: 5px;*/
}


.wbdv-login-box-admin {
    max-width: 350px;
    /*height: 500px;*/
    background-color: white;
    padding: 40px 20px;
    border-radius: 20px;
    margin: 0 auto;
    /*box-shadow: 1px 2px 3px #efefef;*/
    /*border: #e8e8e8 1px solid;*/
}

.wbdv-header-admin {
    font-size: 20px;
    font-weight: 600;
    color: #FF4D4D;
}

#wbdv-login-admin {
    background-color: #6c757d;
    color: white;
    margin-bottom: 5px;
    border-radius: 50px;
}

#wbdv-login-admin:hover {
    background-color: #B33636;
}

#wbdv-cancel-admin {
    background-color: #FFD3D3;
    color: #FF4D4D;
}

#wbdv-cancel-admin:hover {
    background-color: #6c757d;
    color: white;
}

/*.wbdv-login-wrapper a:link {*/
/*  text-decoration: none;*/
/*  color: grey;*/
/*}*/

/*.wbdv-login-wrapper a:visited {*/
/*  text-decoration: none;*/
/*  color: grey;*/
/*}*/

/*.wbdv-login-wrapper a:hover {*/
/*  color: #FF4D4D;*/
/*}*/

/**
Form control
 */
.form-control-admin {
    border-radius: 50px;
    background: #f1f1f1;
    border: none;
    padding-left: 20px;
}

.form-control-admin:focus {
    border-radius: 50px;
    background: #f1f1f1;
    border: none;
    padding-left: 20px;
}

.wbdv-login-wrapper-admin .wbdv-brand-admin {
    color: #6c757d;
}